html {
	min-width: 550px;
	overflow-x: hidden;
	height: 200px;
	/* Required to hide horizontal scroll on Firefox */
}

/* For use with screen readers */
.sr-only {
	display: none;
}

.config {
	display: flex;
}

.config-inputs {
	flex: 1;
}

.config-input {
	display: flex;
	padding: 0.25rem;
}

.config-input input[type='range'] {
	flex: 1;
	margin: 0 0.5rem;
}

.config-input input[type='number'] {
	width: calc(3ch + 1rem);
}

.config-output {
	width: 86px;
	height: 86px;
	margin: 0.5rem;
}

/* Firefox only */
.only-firefox {
	display: none;
}

@-moz-document url-prefix('') {
	.only-firefox {
		display: block;
	}
}